In [2]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
import lightgbm as lgb
%matplotlib inline

In [136]:
data_test = pd.read_csv("teste_data.csv")
data_train = pd.read_csv("train_data.csv")

In [4]:
print(data_test.shape)
print(data_train.shape)

(12014, 26)
(51673, 27)

In [5]:
data_train.head()

,ids,default,score_1,score_2,score_3,score_4,score_5,score_6,risk_rate,amount_borrowed,...,state,zip,channel,job_name,real_state,ok_since,n_bankruptcies,n_defaulted_loans,n_accounts,n_issues
0,c017198e-1d86-04e5-4639-5883c12f34af,False,8k8UDR4Yx0qasAjkGrUZLw==,+CxEO4w7jv3QPI/BQbyqAA==,300.0,98.943966,0.666203,84.552862,0.57,5269.87,...,/78Q+NAqnsdbiE2JReYK9Q==,dFpEMDPOlSZ8KMc7ZViSrg==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,N5/CE7lSkAfB04hVFFwllw==,70.0,0.0,0.0,10.0,NaN
1,ebd7fb8a-9413-4c09-e387-2781cb1a04aa,False,8k8UDR4Yx0qasAjkGrUZLw==,OlDYtdljgSSYM/M1L2CRaQ==,280.0,98.801402,0.158028,111.156002,0.44,35021.99,...,sjJbkqJS7cXalHLBFA+EOQ==,Ernn+uVXCMq/6ARrBCcd+A==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,N5/CE7lSkAfB04hVFFwllw==,45.0,0.0,0.0,11.0,11.0
2,4192b843-bb6b-3e8d-c0fc-791ca9b69894,False,DGCQep2AE5QRkNCshIAlFQ==,osCzpM4hJrxugqWWuZmMWw==,420.0,107.506083,0.952076,93.556293,0.37,20027.94,...,ZUmHOp1/xBWh5O/uqDutsw==,FLJbidAgU8gWgtUzYJmApw==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,N5/CE7lSkAfB04hVFFwllw==,34.0,0.0,0.0,14.0,14.0
3,7a89694b-57fd-1798-ded1-dec1f9687b6f,NaN,1Rk8w4Ucd5yR3KcqZzLdow==,IOVu8au3ISbo6+zmfnYwMg==,360.0,101.095749,0.652441,98.770141,0.25,22029.35,...,JrdZzPZEa/YIIGwh8OdTKA==,OCd8tOYemnUuHBVx4Za1zA==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGCEr...,N5/CE7lSkAfB04hVFFwllw==,NaN,0.0,0.0,8.0,8.0
4,63b5db01-9c03-28e9-a968-fc2709533e3f,False,DGCQep2AE5QRkNCshIAlFQ==,7h+tk4z7O9brtBSe1rNjxA==,400.0,104.015198,0.269695,98.517418,0.31,7216.22,...,x6Gw/1I8t3KPgT6s82Kodg==,Hfh28TzqkRno6rOU/tjy6Q==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,n+xK9CfX0bCn77lClTWviw==,64.0,1.0,0.0,4.0,4.0

In [6]:
data_test.head()

,ids,score_1,score_2,score_3,score_4,score_5,score_6,risk_rate,amount_borrowed,borrowed_in_months,...,state,zip,channel,job_name,real_state,ok_since,n_bankruptcies,n_defaulted_loans,n_accounts,n_issues
0,5e78f987-3e90-55a9-12f8-423c4d63d254,DGCQep2AE5QRkNCshIAlFQ==,RO7MTL+j4PH2gNzbhNTq/A==,380.0,101.122391,0.242105,85.772481,0.23,20007.46,36.0,...,ygE7OTdsxRMLeXMa0EZwZw==,I59IKILFeR11yojhG96N+A==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,nSpvDsIsslUaX6GE6m6eQA==,NaN,0.0,0.0,14.0,14.0
1,f4f28e96-099f-0ffa-6956-d5befffb7191,4DLlLW62jReXaqbPaHp1vQ==,tQUTfUyeuGkhRotd+6WjVg==,230.0,100.302324,0.073913,109.195718,0.27,15023.51,36.0,...,BB/zpwTH+8GCIVHlhzOU1Q==,MXqE7D0NclzbvSzSxV4b/Q==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,n+xK9CfX0bCn77lClTWviw==,NaN,0.0,0.0,15.0,15.0
2,b93c6a30-ce80-546c-7ee6-6fc7d27320b4,DGCQep2AE5QRkNCshIAlFQ==,7h+tk4z7O9brtBSe1rNjxA==,410.0,99.856889,0.425178,99.133784,0.37,5519.44,36.0,...,7bX4XFXmYqoMspxup0CrKA==,IpcloQ5L38SqkCCOw56sxA==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,n+xK9CfX0bCn77lClTWviw==,NaN,0.0,0.0,7.0,NaN
3,54f1cfe1-8239-ba99-e926-61dba5a4b119,DGCQep2AE5QRkNCshIAlFQ==,7h+tk4z7O9brtBSe1rNjxA==,150.0,101.988475,0.079440,93.926671,0.22,12039.85,36.0,...,kfFcVGcsJmH2n3eYprLkeQ==,6ed9f7AFad3DQhc3r1jJXA==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,N5/CE7lSkAfB04hVFFwllw==,NaN,0.0,0.0,8.0,8.0
4,5be46214-a131-1b23-673f-43aa906fa5d6,e4NYDor1NOw6XKGE60AWFw==,cdpgyOyZS04uXerMNu7uCw==,460.0,97.991739,0.436043,103.711855,0.41,20083.85,60.0,...,sjJbkqJS7cXalHLBFA+EOQ==,qKogS9/663ARmbMpyXG9og==,NCqL3QBx0pscDnx3ixKwXg==,mLVIVxoGY7TUDJ1FyFoSIZi1SFcaBmO01AydRchaEiGYtU...,N5/CE7lSkAfB04hVFFwllw==,NaN,0.0,0.0,8.0,8.0

In [7]:
data_train.describe()

,score_3,score_4,score_5,score_6,risk_rate,amount_borrowed,borrowed_in_months,credit_limit,income,ok_since,n_bankruptcies,n_defaulted_loans,n_accounts,n_issues
count,51042.000000,51673.000000,51673.000000,51673.000000,51042.000000,51042.000000,51042.000000,35888.000000,5.104200e+04,21198.000000,50877.000000,51027.000000,51042.000000,38538.000000
mean,348.277693,99.992039,0.499344,99.909383,0.296591,13856.871757,41.841307,34540.391858,7.173298e+04,35.167186,0.076714,0.004841,10.676991,11.049717
std,109.915864,3.174766,0.289262,10.055572,0.101441,8118.862327,10.299154,37048.385052,4.690320e+04,21.705663,0.276926,0.080151,4.588183,4.583458
min,0.000000,86.191572,0.000064,60.663039,0.000000,538.040000,36.000000,0.000000,4.821180e+03,0.000000,0.000000,0.000000,0.000000,0.000000
25%,270.000000,97.855260,0.250334,93.154419,0.220000,7634.680000,36.000000,10000.000000,4.501454e+04,17.000000,0.000000,0.000000,7.000000,8.000000
50%,340.000000,99.995512,0.498277,99.944984,0.290000,12023.825000,36.000000,25697.000000,6.200965e+04,32.000000,0.000000,0.000000,10.000000,10.000000
75%,420.000000,102.127646,0.749844,106.652062,0.360000,19420.160000,36.000000,47249.000000,8.602935e+04,50.000000,0.000000,0.000000,13.000000,14.000000
max,990.000000,113.978234,0.999982,142.430069,0.900000,35059.600000,60.000000,458228.000000,2.000018e+06,141.000000,6.000000,5.000000,49.000000,49.000000

In [137]:
features_train = data_train.columns.tolist()[2:]
features_test = data_test.columns.tolist()[1:]

In [138]:
for i in features_test:
    print(i + '    :    ' + str(sum(data_test[i].isnull())))

score_1    :    0
score_2    :    0
score_3    :    0
score_4    :    0
score_5    :    0
score_6    :    0
risk_rate    :    0
amount_borrowed    :    0
borrowed_in_months    :    0
credit_limit    :    3779
reason    :    1
income    :    0
sign    :    3759
gender    :    619
facebook_profile    :    1178
state    :    0
zip    :    0
channel    :    0
job_name    :    786
real_state    :    0
ok_since    :    6987
n_bankruptcies    :    37
n_defaulted_loans    :    3
n_accounts    :    0
n_issues    :    3146

In [139]:
#dados a serem tratados na base de teste
Traincl = data_train.credit_limit.median()
Trainre = '999'#data_train.reason.mode()
Trainsi = '999'#data_train.sign.mode()
Trainge = '999'#data_train.gender.mode()
Trainfa = '999'#data_train.facebook_profile.mode()
Trainjo = '999'#data_train.job_name.mode()
Trainok = data_train.ok_since.mean()
Trainba = data_train.n_bankruptcies.median()
Trainde = data_train.n_defaulted_loans.median()
Trainis = data_train.n_issues.mean()

In [140]:
data_test.loc[data_test.credit_limit.isnull(),'credit_limit'] = Traincl
data_test.loc[data_test.reason.isnull(),'reason'] = Trainre#.item
data_test.loc[data_test.sign.isnull(),'sign'] = Trainsi#.item
data_test.loc[data_test.gender.isnull(),'gender'] = Trainge#.item
data_test.loc[data_test.facebook_profile.isnull(),'facebook_profile'] = Trainfa#.item
data_test.loc[data_test.job_name.isnull(),'job_name'] = Trainjo#.item
data_test.loc[data_test.ok_since.isnull(),'ok_since'] = Trainok
data_test.loc[data_test.n_bankruptcies.isnull(),'n_bankruptcies'] = Trainba
data_test.loc[data_test.n_defaulted_loans.isnull(),'n_defaulted_loans'] = Trainde
data_test.loc[data_test.n_issues.isnull(),'n_issues'] = Trainis

In [141]:
for i in features_test:
    print(i + '    :    ' + str(sum(data_test[i].isnull())))

score_1    :    0
score_2    :    0
score_3    :    0
score_4    :    0
score_5    :    0
score_6    :    0
risk_rate    :    0
amount_borrowed    :    0
borrowed_in_months    :    0
credit_limit    :    0
reason    :    0
income    :    0
sign    :    0
gender    :    0
facebook_profile    :    0
state    :    0
zip    :    0
channel    :    0
job_name    :    0
real_state    :    0
ok_since    :    0
n_bankruptcies    :    0
n_defaulted_loans    :    0
n_accounts    :    0
n_issues    :    0

In [142]:
#dados a serem tratados na base de treino
for i in features_test:
    print(i + '    :    ' + str(sum(data_train[i].isnull())))

score_1    :    631
score_2    :    631
score_3    :    631
score_4    :    0
score_5    :    0
score_6    :    0
risk_rate    :    631
amount_borrowed    :    631
borrowed_in_months    :    631
credit_limit    :    15785
reason    :    636
income    :    631
sign    :    16648
gender    :    5741
facebook_profile    :    5137
state    :    631
zip    :    631
channel    :    631
job_name    :    3813
real_state    :    631
ok_since    :    30475
n_bankruptcies    :    796
n_defaulted_loans    :    646
n_accounts    :    631
n_issues    :    13135

In [143]:
data_train.loc[data_train.credit_limit.isnull(),'credit_limit'] = Traincl
data_train.loc[data_train.reason.isnull(),'reason'] = Trainre#.item
data_train.loc[data_train.sign.isnull(),'sign'] = Trainsi#.item
data_train.loc[data_train.gender.isnull(),'gender'] = Trainge#.item
data_train.loc[data_train.facebook_profile.isnull(),'facebook_profile'] = Trainfa#.item
data_train.loc[data_train.job_name.isnull(),'job_name'] = Trainjo#.item
data_train.loc[data_train.ok_since.isnull(),'ok_since'] = Trainok
data_train.loc[data_train.n_bankruptcies.isnull(),'n_bankruptcies'] = Trainba
data_train.loc[data_train.n_defaulted_loans.isnull(),'n_defaulted_loans'] = Trainde
data_train.loc[data_train.n_issues.isnull(),'n_issues'] = Trainis

In [144]:
Trainsc1 = '999'#data_train.score_1.mode()
Trainsc2 = '999'#data_train.score_2.mode()
Trainsc3 = data_train.score_3.median()
Trainri = data_train.risk_rate.median()
Trainam = data_train.amount_borrowed.mean()
Trainbo = data_train.borrowed_in_months.median()
Trainin = data_train.income.mean()
Trainst = '999'#data_train.state.mode()
Trainzi = '999'#data_train.zip.mode()
Trainch = '999'#data_train.channel.mode()
Trainre = '999'#data_train.real_state.mode()
Trainacc = data_train.n_accounts.mean()

In [145]:
data_train.loc[data_train.score_1.isnull(),'score_1'] = Trainsc1#.item
data_train.loc[data_train.score_2.isnull(),'score_2'] =Trainsc2#.item
data_train.loc[data_train.score_3.isnull(),'score_3'] =Trainsc3
data_train.loc[data_train.risk_rate.isnull(),'risk_rate'] =Trainri
data_train.loc[data_train.amount_borrowed.isnull(),'amount_borrowed'] = Trainam
data_train.loc[data_train.borrowed_in_months.isnull(),'borrowed_in_months'] = Trainbo 
data_train.loc[data_train.income.isnull(),'income'] = Trainin 
data_train.loc[data_train.state.isnull(),'state'] = Trainst#.item 
data_train.loc[data_train.zip.isnull(),'zip'] = Trainzi#.item
data_train.loc[data_train.channel.isnull(),'channel'] =Trainch#.item
data_train.loc[data_train.real_state.isnull(),'real_state'] =Trainre#.item
data_train.loc[data_train.n_accounts.isnull(),'n_accounts'] =Trainacc

In [17]:
print(sum(data_train.default.isnull()),data_train.shape)

3721 (51673, 27)

In [146]:
#tratando default como False, depois testar tirando estas amostras no teste
data_train.loc[data_train.default.isnull(),'default'] = False

In [147]:
data_train.loc[data_train.default == True,['default']] = int(True)
data_train.loc[data_train.default == False,['default']] = int(False)

In [20]:
data_train.default

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       1
21       0
22       1
23       0
24       0
25       0
26       0
27       1
28       0
29       0
        ..
51643    0
51644    0
51645    0
51646    0
51647    0
51648    0
51649    0
51650    0
51651    0
51652    0
51653    0
51654    0
51655    1
51656    0
51657    1
51658    0
51659    0
51660    0
51661    0
51662    0
51663    0
51664    1
51665    0
51666    0
51667    0
51668    0
51669    0
51670    1
51671    0
51672    0
Name: default, Length: 51673, dtype: int64

In [208]:
#score_1, score_2, reason (talvez tirar do modelo), sign, gender, facebook_profile, state, zip (talvez tirar do modelo), channel, job_name (talvez tirar do modelo), real_state

my_list = list(set(data_train.zip))

In [209]:
#print(my_list)
for i in my_list:
    print(i)
    data_train.loc[data_train.zip == i ,['zip']] = my_list.index(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
xK5t+dx2oaTZPtEWWpUN3A==
103
104
105
106
107
108
102
110
111
112
113
114
115
109
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
mzP2qHgSpd2BLkzFlL53Lw==
278
280
281
282
279
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
65PhtfOGx3+XWaW9uzPS0g==
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
116
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
N0H5GvJrEampcsd1AyKYWA==
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
nmDhVRHJAIkM/m9h7tU8QA==
588
7qA6KLGPsqjnQFQO70criQ==
7xo+RGiCjMuXddILeqX3cQ==
wKOIgtpAn/7tNSu7AnYbWg==
539
iORrk+krCdlDDepzqvdniw==
283
KqSxsNicHYR+QWgRIFCBsg==
705
tSmKAYq5fMkyjQtcdyd1wQ==
RNooQ3wnU394hUJ5FvEzsQ==
mWxzlFyjm/wOdkVEDoAZcw==
Hk8o0PDyiDYfJZWYvuMVow==
fn7l/Hs5Wkgz4Q7+nfOqxg==
TRsJTn8UTdIm2qrYj85ZfA==

In [210]:
data_train.zip

0        409
1        377
2        317
3        156
4         13
5        573
6        481
7        620
8        265
9         65
10       556
11        12
12       120
13       328
14       570
15       217
16       155
17       268
18       222
19       114
20       303
21       581
22       368
23       735
24       458
25       620
26       268
27        30
28       370
29       262
        ...
51643    594
51644    234
51645    385
51646    284
51647    487
51648    586
51649    426
51650    139
51651    441
51652    799
51653    320
51654     42
51655    423
51656    160
51657    199
51658    368
51659    368
51660    110
51661    491
51662    778
51663    244
51664    602
51665    155
51666    294
51667    432
51668    162
51669     97
51670    790
51671    120
51672    660
Name: zip, Length: 51673, dtype: int64

In [235]:
from sklearn.model_selection import train_test_split
#Neste ponto posso escolher minhas variáveis, tirando aquelas que julgar não importantes
X = data_train[['score_1',
 'score_2',
 'score_3',
 'score_4',
 'score_5',
 'score_6',
 'risk_rate',
 'amount_borrowed',
 'borrowed_in_months',
 'credit_limit',
 #'reason',
 'income',
 'sign',
 'gender',
 'facebook_profile',
 'state',
 #'zip',
 'channel',
 #'job_name',
 'real_state',
 'ok_since',
 'n_bankruptcies',
 'n_defaulted_loans',
 'n_accounts',
 'n_issues']]    
y = data_train.default
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [236]:
print(data_train.shape)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(51673, 27)
(36171, 22)
(36171,)
(15502, 22)
(15502,)

In [219]:
#from catboost import CatBoostRegressor
categorical_features_indices = np.where(X.dtypes != np.float)[0]

In [220]:
categorical_features_indices

array([ 0,  1, 11, 12, 13, 14, 15, 16], dtype=int64)

In [237]:
train_data = lgb.Dataset(X_train, label=y_train)#, categorical_feature=list(categorical_features_indices))
test_data = lgb.Dataset(X_test, label=y_test)#,categorical_feature=list(categorical_features_indices))

In [272]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_auc_score

params = {
  #  'application': 'binary',
  #  'objective': 'binary',
    'metric': 'auc',
 #  'is_unbalance': 'true',
  #  'boosting': 'gbdt',
    'num_leaves': 50,
    'feature_fraction': 0.5,
    'bagging_fraction': 0.5,
    'bagging_freq': 30,
    'learning_rate': 0.01,
    'verbose': 0
}
#lf = lgb.LGBMRegressor(**params, random_state=42)
clf  = lgb.train(params,
                train_data,
                num_boost_round=100,
                valid_sets=test_data,
                early_stopping_rounds=5)


predictions = clf.predict(X_test, num_iteration=clf.best_iteration)
# eval
#print('The rmse of prediction is:', mean_squared_error(y_test, y_pred) ** 0.5)

#predictions = clf.predict(test_data,num_interation=clf.best_iteration)
auc = roc_auc_score(y_test, predictions)
print("auc_score: %.4f" % auc)

[1]	valid_0's auc: 0.701891
Training until validation scores don't improve for 5 rounds.
[2]	valid_0's auc: 0.727343
[3]	valid_0's auc: 0.736239
[4]	valid_0's auc: 0.734505
[5]	valid_0's auc: 0.740759
[6]	valid_0's auc: 0.742022
[7]	valid_0's auc: 0.741521
[8]	valid_0's auc: 0.743625
[9]	valid_0's auc: 0.747365
[10]	valid_0's auc: 0.747933
[11]	valid_0's auc: 0.749105
[12]	valid_0's auc: 0.747619
[13]	valid_0's auc: 0.749137
[14]	valid_0's auc: 0.749568
[15]	valid_0's auc: 0.751747
[16]	valid_0's auc: 0.750292
[17]	valid_0's auc: 0.751779
[18]	valid_0's auc: 0.750973
[19]	valid_0's auc: 0.750365
[20]	valid_0's auc: 0.750988
[21]	valid_0's auc: 0.752027
[22]	valid_0's auc: 0.751221
[23]	valid_0's auc: 0.751048
[24]	valid_0's auc: 0.752304
[25]	valid_0's auc: 0.753036
[26]	valid_0's auc: 0.751951
[27]	valid_0's auc: 0.751816
[28]	valid_0's auc: 0.751891
[29]	valid_0's auc: 0.750942
[30]	valid_0's auc: 0.75097
Early stopping, best iteration is:
[25]	valid_0's auc: 0.753036
auc_score: 0.7530

In [266]:
#score_1, score_2, reason (talvez tirar do modelo), sign, gender, facebook_profile, state, zip (talvez tirar do modelo), channel, job_name (talvez tirar do modelo), real_state

my_list = list(set(data_test.real_state))

In [267]:
#print(my_list)
for i in my_list:
    print(i)
    data_test.loc[data_test.real_state == i ,['real_state']] = my_list.index(i)

+qWF9pJpVGtTFn4vFjb/cg==
n+xK9CfX0bCn77lClTWviw==
UX7AdFYgQh+VrVC5eIaU9w==
nSpvDsIsslUaX6GE6m6eQA==
N5/CE7lSkAfB04hVFFwllw==

In [268]:
data_test.real_state

0        3
1        1
2        1
3        4
4        4
5        1
6        4
7        1
8        4
9        1
10       1
11       4
12       4
13       4
14       1
15       4
16       1
17       4
18       4
19       4
20       4
21       4
22       1
23       1
24       3
25       1
26       4
27       4
28       1
29       4
        ..
11984    4
11985    4
11986    4
11987    4
11988    4
11989    1
11990    4
11991    3
11992    1
11993    1
11994    4
11995    4
11996    4
11997    1
11998    4
11999    4
12000    1
12001    1
12002    1
12003    1
12004    4
12005    4
12006    4
12007    4
12008    1
12009    1
12010    4
12011    1
12012    1
12013    3
Name: real_state, Length: 12014, dtype: int64

In [270]:
data_test['prob'] = clf.predict(data_test.drop(columns =['ids','reason', 'zip', 'job_name']))

In [271]:
df = data_test[['ids','prob']]
df.to_csv("submission006.csv",index=False)